@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Inconsolata&display=swap');



h1 {
    background-color: rgb(244, 248, 222);
    font-family: 'Inconsolata', monospace;
    font-size: 50px;
    padding: 20px;
    border: none;
    border-bottom: 3px solid black;

}
.btn-area {
    display: inline; 
    text-align: center;
}
.btn-area button {
    font-family: 'Do Hyeon', sans-serif;
    width: 200px;
    height: 50px;
    font-size: 28px;
    background: radial-gradient(rgb(238, 238, 158),rgb(155, 238, 148),rgb(174, 219, 245));
    cursor: pointer;
}
#btn-c {
    background: radial-gradient(rgb(236, 133, 133),rgb(238, 142, 158),rgb(238, 6, 6));
}
.text {
    margin: 10px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 27px;
}

input {
    width: 170px;
    height: 27px;
    border-color: rgb(103, 207, 172);
    border-radius: 15px;
}
input::placeholder {
    font-size: 17px;
    padding: 10px;
    color: rgb(34, 34, 97);
}